.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.image-container {
  background-color: #ffd390;
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 1 1 150px; /* Allows responsive sizing */
  max-width: 200px; /* Maximum width */
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensures the image is displayed as a block */
}

.img-inp {
  position: relative;
  display: block; /* Centers input */
  margin: 0 auto; /* Center the button horizontally */
  font-size: medium;
  font-weight: 600;
}

.img-inp::file-selector-button {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  color: white;
  font-size: medium;
  margin-top: 20px; /* Adjusted for responsiveness */
  background-color: rgba(255, 153, 0, 0.9);
}

.img-inp::file-selector-button:hover {
  background-color: rgba(255, 153, 0, 0.75);
  cursor: pointer;
}

.wrapper-div{
  display:flex;
  justify-content: center;
}
.download-img-btn {
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 150px;
  margin-top: 50px; /* Adjusted for responsiveness */
  color: white;
  font-size: 16px;
  font-weight: 700;
  /* position:relative;
  left:45%; */
  background-color: rgba(255, 153, 0, 0.9);
}

.download-img-btn:hover {
  background-color: rgba(255, 153, 0, 0.75);
  cursor: pointer;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .image-list {
    gap: 0.5rem; /* Reduced gap on smaller screens */
  }

  .download-img-btn, .img-inp::file-selector-button {
    width: 100%; /* Full width on smaller screens */
    
    margin-top: 10px; /* Reduce margin for better fit */
  }

  .img-inp {
    margin: 20px auto; /* Center input on smaller screens */
  }
}

@media (max-width: 480px) {
  .image-container {
    flex: 1 1 100px; /* Adjust size for very small screens */
    max-width: 100%; /* Full width on mobile */
  }

  .download-img-btn {
    height: 45px; /* Smaller button height */
  }
}
