.image-list li {
    width: 150px;
    height: 150px;
    overflow: hidden;
  }
  
  .image-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* .image-list img {
    object-fit: contain;
  } */

.img-inp{
    position:relative;
    left:45%;
    font-size:medium;
    font-weight: 600;
}
.img-inp::file-selector-button{
    border:none;
    border-radius: 5px;
    height:40px;
    width:120px;
    color:white;
    font-size:medium;
    margin-top:50px;
    background-color: rgba(255, 153, 0,0.9);
}
.img-inp::file-selector-button:hover{
    background-color: rgba(255, 153, 0,0.75);
    cursor:pointer;
}
.download-img-btn{
    border:none;
    border-radius: 5px;
    height:50px;
    width:150px;
    margin-top:50px;
    color:white;
    font-size:16px;
    font-weight: 700;
    background-color: rgba(255, 153, 0,0.9);
}
.download-img-btn:hover{
    background-color: rgba(255, 153, 0,0.75);
    cursor:pointer;
}
.img{
background-color:#ffd390}