.second-render-body {
    height: 900px;
    overflow-y: scroll;
}

.second-render-body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 128, 0);
}

.second-render-body::-webkit-scrollbar-track {
    background-color: rgb(255, 232, 190);
    border-radius: 10px;
}

@media (max-width: 768px) {
    .second-render-body {
        overflow: scroll;
        height: 700px;
        width: 100%; /* Ensure full width on smaller screens */
        padding: 0; /* Remove any padding that might push content */
        margin: 0; /* Remove margins to prevent shifting */
    }
}

@media (max-width: 480px) {
    .upload-inp::file-selector-button {
        font-size: small; /* Smaller font for smaller screens */
        padding-right: 10px; /* Adjust padding */
    }

    .upload-space {
        height: auto; /* Let height adjust based on content */
    }

    .middiv {
        padding-bottom: 20px; /* Reduce padding */
    }

    /* Ensuring the PDF is displayed correctly */
    .pdf-container { /* Add this class if not already present */
        width: 100%; /* Full width */
        overflow: hidden; /* Hide overflow to prevent cutting off */
        padding: 0; /* No padding */
        margin: 0; /* No margin */
    }
}
