.App {
  text-align: center;
}
.nav-btn{
  border:none;
  background-color: white;
  color:rgb(255, 136, 0);
  font-size:20px;
  font-weight:700;
  padding-left:29%;
  padding-top:2%;
}
.nav-btn:hover{
  color:rgb(255, 175, 38);
  cursor:pointer;
}
body{
  overflow-x:hidden;
  position:relative;
  background: radial-gradient(circle at bottom left,transparent 25%,rgba(227, 175, 70,0.3) 25.5%, rgba(227, 175, 70,0.3) 36%, transparent 37%, transparent 100%),radial-gradient(circle at top right,transparent 34%,rgba(227, 174, 69,0.3) 34.5%, rgba(227, 175, 70,0.3) 45.5%, transparent 46%, transparent 100%);
        background-size: 6em 6em;
        background-color: #ffffff;
        opacity: 1;
  /* backdrop-filter: blur(10px); */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
